body {
  font-family: system-ui;
  background: #000000;
  color: white;
  text-align: center;
}

h2 {
  color: #00ff00;
}

button {
  background: #0000ff;
  color: #ffffff;
}

#result {
  display: none;
  font-size: 18px;
  margin-top: 10px;
}

#notice {
  border: 2px solid red;
  padding: 12px;
  display: inline-block;
}
